// Resets, Clearfix, etc
@import "partials/reset";
@import "partials/clearfix";
// Variables


// Media Query Ranges

// Mixins

// Styles
body{
  background-color: orange;
  text-align: center;
  color: #EEE;
}

h1, h2 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  background-color: blue;
  padding: 20px;
  font-size: 55px;
}

h2{
  background-color: black;
  font-size: 35px;
}


ul.block_family {
  background-color: pink;
  max-width:350px;
  margin:auto;
}

ul.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}

//medium styles
@media only screen and (min-width: 600px){
  ul.block_family {
    max-width: 500px;
  };
};

@media only screen and (min-width: 900px) {
  ul.block_family {
    max-width: 800px;
  }
}