// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';
// Variables
// $test: black;
$dark: #A66900;
$light: #FFA100;
$bright: #0F4dAF;
$padding: 10px;
// Media Query Ranges
$medium-size: "only screen and (min-width: 600px)";
$large-size: "only screen and (min-width: 900px)";

// Mixins

// Styles
body{
  background-color: $light;
  text-align: center;
  color: #EEE;

  @media #{$medium-size} {
    background-color: $bright;
  }

  @media #{$large-size} {
    background-color: $dark;
  }
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}